#celebDescription {
    background-color: #d9e4dd;
    display: flex;
    justify-content: flex-start;
    width : 100%;
}

#celebInfo {
    margin-left: 5%;
    align-content: center;
    
}

#celebInfo > h1 {
    color: white;
}

#knownFor {
    background-color: #b9cced;
}

#knownFor > tbody > tr{
   
    text-align: center;
}



@media only screen and (max-width: 600px){

    #imageDiv > img{
        width: 100px;
        height: 150px;
    }
    #celebInfo > h2,h3,h4{
        
        margin: 10px;
    }

    #celebInfo > h2{
        font-size: 15px;
    }
    
    #celebInfo > h3,h4{
        font-size: 10px;
    }
   
}
