#container{
    min-height: 1px;
    width: 70%;
    margin: auto;
    
}

#header{
    
    height: 60px;
    background-color: gray;
    border-radius: 25px;

}

#logo{
    display: block;
    float: left;
   
}

#searchForm{
    height: 100% ;
    width : 50% ;
    margin: 10 20;
    float: left;
}

#searchField{
    
    width: 30%;
    height : 40px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/Users/tesliLortkipa/Desktop/imdb\ project/images/search_icon');
    border-radius: 25px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

#suggestionBox{
   
    width: 25%;
    top: 60px;
    left: 15%;
    margin-left: 75px;
    position: absolute;
    z-index: 1;
    display: none;
}


.searchResultImage{
    width: 30%;
}

.searchResultInfo{
    display: flex;
    align-items: center;
    width:60%;
}




#suggestionBox>ul{
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
}

#suggestionBox>ul>li{
    margin-left: 0px;
}


.suggestion{
    border: 2px solid #ccc;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: yellow;
    display:flex;
    justify-content: flex-start;


}



#searchField:focus {
    width: 70%;
  }

#searchButton{

    height: 40px;
    width : 20%;
    margin-left: 10px;
    background-color: #ffea00;
    border-radius: 15px;
    transition-duration: 0.3s;


}  

#searchButton:hover{
    background-color: #ffb700;

}

a:visited {
    text-decoration: none;
  }

#menu{
    display: block;
    float: right;
}

#menu > ul {
    margin: 0%;
    height: 100%;
}



#menu > ul>li{
    padding: 0%;
    margin: 0%;
    height: 100% ;
    display: inline-block;

}


#menu > ul> li >a{
    
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    background-color: #ffe5d9;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; 

    
}


#menu > ul> li >a:hover{
    background-color: #ffe5d9;

}

#hiddenMenuHeader{
    display: none;
}

#hiddenMenu{
    display: none;
}

#content{
    margin-top: 20px;
   
}

#moviesMenuItem:hover  #moviesDropDown{
    
    display: block;
    

}
#TVShowsMenuItem:hover  #TVShowsDropDown{
   
    display: block;
    

}

#celebsMenuItem:hover  #celebsDropDown{
    display: block;
    

}

.dropDownMenuItem{
    
    position: absolute;
    left: 65%;
    display: none;
    background-color: #ffe5d9;
    width: 20%;
    border-radius: 25px;

}

.dropDownMenuItem > ul {
    list-style: none;
    align-content: center;

}


.dropDownMenuItem > ul > li{

    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    width: 100%;

}

.dropDownMenuItem > ul > li >a{
    text-decoration: none;
    color: black;

}

#searchFormHiddenButton{
    border-radius: 25px;
    display: none ;
}

#searchFormHidden{
    display: none ;
}

@media only screen and (max-width: 992px) {

    #searchForm {
        display: none !important;
    }

    #searchFormHiddenButton{
        display: block;
        float: right;
    }

    #searchFormHidden{
        display: none;
        widows: 100px;;
    }
    #searchFieldHidden{
        width: 75%;
        height : 100%;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('images/search_icon.png');
        
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        transition: width 0.4s ease-in-out;
        float: left;
    }


    #suggestionBox{
        width: 52.5%;
        margin-left: 0px;
        margin-top:7px;

    }
    
    #hiddenSearchCloseButton{
        margin-top: 10px;
        float: right;
    }
   
    #menu {
        display: none;
    }

    #hiddenMenu{
        display: none;
        width: 100% !important;
        float: left !important;
        background-color: #ffe5d9;
        justify-content: center;
        align-content: center;
    }
    #hiddenMenu > ul {
        list-style: none;

    }


    #hiddenMenu > ul > li{
        float: left;
        
        margin-right: 10%;

    }

    #hiddenMenu > ul > li >ul{
        list-style: none;

    }


    #hiddenMenu > ul > li >ul > li {
        margin-top: 10px;
        margin-bottom: 10px;

    }

    #hiddenMenu > ul > li >ul > li > a{

        text-decoration: none;
        color:black;
    }
    

    #hiddenMenuHeader{
        
        padding-left: 5px;
        padding-right: 5px;
        height: 100%;
        background-color: gray;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none; 
        

    }
  
}