#container{
    min-height: 1px;
    width: 70%;
    margin: auto;
    
}

#header{
    
    height: 60px;
    background-color: gray;

}

#logo{
    display: block;
    float: left;
   
}

#searchForm{
    height: 100% ;
    width : 50% ;
    margin: 10 20;
    float: left;
}

#searchField{
    
    width: 30%;
    height : 40px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/Users/tesliLortkipa/Desktop/imdb\ project/images/search_icon');
    
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

#searchField:focus {
    width: 70%;
  }

#searchButton{

    height: 40px;
    width : 20%;
    margin-left: 10px;
    background-color: yellow;
    border-radius: 15px;
    transition-duration: 0.3s;


}  

#searchButton:hover{
    background-color: red;

}

#menu{
    display: block;
    float: right;
}

#menu > ul {
    margin: 0%;
    height: 100%;
}



#menu > ul>li{
    padding: 0%;
    margin: 0%;
    height: 100% ;
    display: inline-block;

}


#menu > ul> li >a{
    
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; 
    
}


#menu > ul> li >a:hover{
    background-color: chocolate;

}

#hiddenMenuHeader{
    display: none;
}

#hiddenMenu{
    display: none;
}

#content{
    background-color : yellow;
}

#moviesMenuItem:hover  #moviesDropDown{
    
    display: block;
    

}
#TVShowsMenuItem:hover  #TVShowsDropDown{
   
    display: block;
    

}

#celebsMenuItem:hover  #celebsDropDown{
    display: block;
    

}

.dropDownMenuItem{

    position: absolute;
    display: none;
    background-color: chocolate;
}

.dropDownMenuItem > ul {
    list-style: none;

}


.dropDownMenuItem > ul > li{

    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    width: 100%;

}




.most_popular{
    
    display: inline-block;
    width: 48%;
    border-style: solid;
    border-width: 5px;
    border-color: grey;
    
}
.best{
    padding-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: right;
    border-color: gray;
    border-style: ridge;
    border-width: 2px;
    

}
.best>a{
    margin-left: 5%;
    text-decoration: none;
}

.best>a:hover{
    color: gray;

}

#searchFormHiddenButton{
    display: none ;
}

#searchFormHidden{
    display: none ;
}

@media only screen and (max-width: 970px) {

    #searchForm {
        display: none !important;
    }

    #searchFormHiddenButton{
        display: block;
        float: right;
    }

    #searchFormHidden{
        display: none;
        widows: 100px;;
    }
    #searchFieldHidden{
        width: 75%;
        height : 100%;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('images/search_icon.png');
        
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        transition: width 0.4s ease-in-out;
        float: left;
    }
    
    #hiddenSearchCloseButton{
        margin-top: 10px;
        float: right;
    }
   
    #menu {
        display: none;
    }

    #hiddenMenu{
        display: none;
        width: 100% !important;
        float: left !important;
        background-color: gray;
        justify-content: center;
        align-content: center;
    }
    #hiddenMenu > ul {
        list-style: none;

    }


    #hiddenMenu > ul > li{
        float: left;
        
        margin-right: 10%;

    }

    #hiddenMenu > ul > li >ul{
        list-style: none;

    }


    #hiddenMenu > ul > li >ul > li {
        margin-top: 10px;

    }
    

    .most_popular{
        width: 96%;
    }

    #hiddenMenuHeader{
        
        padding-left: 5px;
        padding-right: 5px;
        height: 100%;
        background-color: yellow;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none; 
        

    }
  
}






