#content > ul {

    list-style: none;
    padding-left: 0%;
}

#content  > ul  > li{
    width: 100%;
    margin-top: 10px;
    background-color: yellow;
}

.movieItem {
    
    display: flex;
    align-items: center;
    justify-content: right;
    border-color: gray;
    border-style: ridge;
    border-width: 2px;
}



.movieItem > img{
    padding-left: 2%;
    padding-right: 2%;

}


#contentTable{
    width: 100%;

}

#contentTable > tbody {
    background-color: yellow;
}

#contentTable > tbody > tr{
   
    text-align: center;
}

#contentHeader{
   text-align: center;

}

#sortByField{

    width: 100%;
    margin-bottom: 10px;
}

